<div class="card mb-4">
  <div class="card-body">
    <div class="trix-content">
      <%= note.content %>
    </div>
  </div>

  <div class="card-footer">
    <%= link_to 'Edit', edit_note_path(note),
      class: 'btn btn-sm btn-outline-primary me-1' %>

    <%= link_to 'Delete', note_path(note),
      class: 'btn btn-sm btn-outline-danger',
      data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' } %>
  </div>
</div>
