<div class="container--small header-margin">
  <div>
    <%= render partial: 'shared/page_title', locals: { text: 'Notes' } %>
    <%= render partial: 'shared/new_item_link',
      locals: { text: 'New note', path: new_note_path } %>
  </div>

  <% if @notes.any? %>
    <%= render @notes %>
  <% else %>
    <p>You have no notes.</p>

    <%= link_to 'Create your first note', new_note_path,
      class: 'btn btn-primary' %>
  <% end %>
</div>
