<div class="card mb-4">
  <div class="card-body">
    <%= reminder.name %>
  </div>

  <div class="card-footer">
    <%= link_to 'Edit', edit_reminder_path(reminder),
      class: 'btn btn-sm btn-outline-primary me-1' %>
  </div>
</div>
