<div class="card mb-4">
  <div class="card-body">
    <%= reminder.name %>
  </div>

  <div class="card-footer">
    <%= link_to 'Edit', edit_reminder_path(reminder),
      class: 'btn btn-sm btn-outline-primary me-1' %>

    <%= link_to 'Delete', reminder_path(reminder),
      class: 'btn btn-sm btn-outline-danger',
      data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' } %>
  </div>
</div>
