<% if notice or alert %>
  <% alert_class = notice ? "alert-success" : "alert-danger" %>

  <div class="alert <%= alert_class %> text-center">
    <p class="mb-0"><%= notice || alert %></p>
  </div>
<% end %>
