<div class="container--small header-margin">
  <%= render partial: 'shared/page_title', locals: { text: 'Life reminders' } %>

  <div class="mb-4"></div>

  <%= link_to 'Get started', new_user_registration_path,
    class: 'btn btn-primary' %>
</div>
