@use '../../../vendor/stylesheets/bootstrap-5.1.3/bootstrap.scss';
@use 'actiontext';

.container--small {
  @extend .container;
  max-width: 630px;
}

.header-margin {
  margin-top: 30px;
}

.form-group {
  margin-bottom: 10px;
}